DATABASE_URL=postgresql://postgres:Mi93ds9d5.11@db.wouzebsgqloseuyrbgzc.supabase.co:5432/postgres
DB_SSL=false
JWT_SECRET=pz4XNtP3ijS8A82GvyjG9xLo8bh1VcObG7BDcp/PD4eUWx95eGtWCOO0CARDSQ5I
DEFAULT_ADMIN_PASSWORD=Mi93ds9d5@
PORT=4000
